.frame{
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}



.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2;
    background: #dfe2f1;
    
}

.main_frame  .left_frame {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    
}

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    
    top: -27px;
}

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    

}

.main_frame .left_frame .left_1 {
    width: 228px;
    height: 267px;
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    /* border: solid red;
     */
}

.main_frame .left_frame .left_1 .left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 29.46px;
    width: 156.16px;
    height: 142.53px;
}
.main_frame .left_frame .left_1 .left_1-2 h1{
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #2b2b2b;
}
.main_frame .left_frame .left_1 .left_1-3 p{
    position: relative;
    width: 147.84px;
    height: 25.65px;
    

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
}

.left-icons {
    width: 228px;
    height: 22.8px;
    margin-top: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.link_href {
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    background: #ffb400;
}




.marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 30px;

    /* background */ 
    border: 1.5px solid #f0f0f6;

}
 

.main_frame .left_frame .left_2{
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 40px;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.main_frame .left_frame .left_2 .left_2-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    margin-top: 5px;
    width: 221px;
   
    margin-bottom: 5px;
}

.main_frame .left_frame .left_2 .left_2-1 .left_2-1-title{
    /* background: #ffb400;
    width: 46.21px;
    height: 24px; */
    align-items: center;
    justify-content: center;
  
  

}

.main_frame .left_frame .left_2 .left_2-1 .left_2-1-title p {
    background: #ffb400;
    height: 24px;
    width: 120%;
    font-family: sans-serif;
    letter-spacing: 1px;
   
    font-size: 300;
    align-content: center;
    

}
.main_frame .left_frame .left_2 .left_2-1 .left_2-1-age p{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.main_frame .left_frame .left_2 .left_2-1 .left_2-1-available p{
    color: #7eb942;
}






.main_frame .left_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 10px;
    margin-left: 40px;
    

    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

    

}

.main_frame .left_frame .left_3 .left_3-1 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 18px;
    margin-top: 5px;
    
    width: 221px;
   
    margin-bottom: 5px;
}

.main_frame .left_frame .left_3 .left_3-1 .left_3-1-title h1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    
}


.main_frame .left_frame .left_3 .left_3-1 .left_3-1-language p{
    font-family: sans-serif;
    font-size: 15px;
    color: #767676;
    line-height: 24px;
    letter-spacing: 0.7px;

}
.main_frame .left_frame .left_3 .left_3-1 .left_3-1-foiz p{
 font-size: 15px;
 line-height: 24px;
 letter-spacing: 0.7px;
 font-family: sans-serif;
 color: #767676;
}

.main_frame .left_frame .left_3 .left_3-1 .left_3-1-line{
    width: 230px;
    border:  solid 0.3px red;
    margin-bottom: 10px;
    border-radius: 30px;
    
   
}
.main_frame .left_frame .left_3 .left_3-1 .left_3-1-line .left_3-1-lin{
    background: #ffb400;
    width: 218px;
    height: 2px;
    border-radius: 30px;
    border: solid 0.1px #ffb400;
    padding-bottom: 2px;
   
}
.main_frame .left_frame .left_3 .left_3-1 .left_3-1-line .left_3-1-lin-2{
    background: #ffb400;
    width: 208px;
    height: 2px;
    border-radius: 30px;
    border: solid 0.1px #ffb400;
    padding-bottom: 2px;
   
}
.main_frame .left_frame .left_3 .left_3-1 .left_3-1-line .left_3-1-lin-3{
    background: #ffb400;
    width: 190px;
    height: 2px;
    border-radius: 30px;
    border: solid 0.1px #ffb400;
    padding-bottom: 2px;
   
}

.main_frame .left_frame .left_4{
    position: relative;
    width: 220px;
    height: 242px;
    margin-top: 10px;
    margin-left: 40px;
   
    

}
.main_frame .left_frame .left_4 .left_4-1 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 18px;
    margin-top: 5px;
    
    width: 221px;
   
    margin-bottom: 5px;
}

.main_frame .left_frame .left_4 .left_4-1 .left_4-1-title h1{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    
}


.main_frame .left_frame .left_4 .left_4-1 .left_4-1-language p{
    font-family: sans-serif;
    font-size: 15px;
    color: #767676;
    line-height: 24px;
    letter-spacing: 0.7px;

}
.main_frame .left_frame .left_4 .left_4-1 .left_4-1-foiz p{
 font-size: 15px;
 line-height: 24px;
 letter-spacing: 0.7px;
 font-family: sans-serif;
 color: #767676;
}

.main_frame .left_frame .left_4 .left_4-1 .left_4-1-line{
    width: 230px;
    border:  solid 0.3px red;
    margin-bottom: 10px;
    border-radius: 30px;
    
   
}

.main_frame .left_frame .left_4 .left_4-1 .left_4-1-line .left_4-1-lin{
    background: #ffb400;
    width: 209px;
    height: 2px;
    border-radius: 30px;
    border: solid 0.1px #ffb400;
    padding-bottom: 2px;
   
}

.main_frame .left_frame .left_4 .left_4-1 .left_4-1-line .left_4-1-lin-2{
    background: #ffb400;
    width: 207px;
    height: 2px;
    border-radius: 30px;
    border: solid 0.1px #ffb400;
    padding-bottom: 2px;
   
}

.main_frame .left_frame .left_4 .left_4-1 .left_4-1-line .left_4-1-lin-3{
    background: #ffb400;
    width: 201px;
    height: 2px;
    border-radius: 30px;
    border: solid 0.1px #ffb400;
    padding-bottom: 2px;
   
}
.main_frame .left_frame .left_4 .left_4-1 .left_4-1-line .left_4-1-lin-4{
    background: #ffb400;
    width: 187px;
    height: 2px;
    border-radius: 30px;
    border: solid 0.1px #ffb400;
    padding-bottom: 2px;
   
}
.main_frame .left_frame .left_4 .left_4-1 .left_4-1-line .left_4-1-lin-5{
    background: #ffb400;
    width: 207px;
    height: 2px;
    border-radius: 30px;
    border: solid 0.1px #ffb400;
    padding-bottom: 2px;
   
}

.main_frame .left_frame .left_5 {
    position: relative;
    width: 186px ;
    height: 148px;
    margin-left: 40px;
    margin-top: 25px;
    
}

.main_frame .left_frame .left_5 .left_5-1{
      display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 18px;
    margin-top: 5px;
    
    width: 221px;
   
    margin-bottom: 5px;
}

.main_frame .left_frame .left_5 .left_5-1 .left_5-1-title{
     align-items: center;
    justify-content: center;
    margin-bottom: 15px ;
}
.main_frame .left_frame .left_5 .left_5-1 .left_5-1-title h1{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    
}


.main_frame .left_frame .left_5 .left_5-1 .left_5-1-dicrb p {
    font-size: 16px;
    font-family: sans-serif;
    color: #767676;
    letter-spacing: 0.7px;
    
}

.main_frame .left_frame .left_5 .left_5-1 .left_5-1-icon {
margin-right: 12px;
}



.main_frame .left_frame .left_1 .left_1-1 {
    width: 156px;
    height: 142px;
}


.midd_frame {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    

}

.midd_frame_top{
    
    width: 970px;
    position: absolute;
    height: 467px;
    background: white;
    
    
}

.midd_frame_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    

}
.midd_frame_top_left {
    
    margin-left: 50px;
}


.midd_frame_top_left_title {
width: 500px;
height: 118px;


}
.midd_frame_top_left_title h1{
    font-family: sans-serif;
    font-size: 48px;
    letter-spacing: 1px;
}
.midd_frame_top_left_descb{
    width: 424px;
    height: 88px;
}

.midd_frame_top_left_descb p{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #767676;
}

.frame_top_left_button{
    width: 154px;
    height: 51px;
    background:#ffb400 ;
    font-family: sans-serif;
    border: none;
    border-radius: 6px;
}

.midd_frame_top_right{
    width: 325.72px;
    height: 459.09px;
    margin-right: 20px;
}

.midd_frame_icons{
position: absolute;
z-index: 1;

}
.midd_frame_icon-1{
    position: relative;
    right:380px;
    top: 15px
    
}
.midd_frame_icon-2{
    position: relative;
    top: 25px;
    left: 30px;
}

.midd_frame_icon-3{
    position: relative;
    left: 450px;
    top: 45px;
}
.midd_frame_icon-4{
    position: relative;
    right: 410px;
    top:410px;

}

.midd_frame_icon-5{
    position: relative;
    right: 140px;
    top: 350px;
}

.midd_frame_icon-6{
    position: relative;
    top: 370px;
    left: 70px;
}

.midd_frame_icon-7{
    position: relative;
    top: 420px;
    left: 390px;
}






.midd_frame_bottom{
    width: 970px;
    height: 653px;
   
    position: absolute;
    top: 606px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;    
}


.midd_frame_bottom-1{
 align-items: center;
 align-content: center;
 text-align: center;

}

.midd_frame_bottom-1 .midd_frame_bottom-1_tittle h1{
    font-size: 32px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
   

} 

.midd_frame_bottom-1_descrb {
    width: 428px;
    height: 68px;
    
}
.midd_frame_bottom-1  .midd_frame_bottom-1_descrb p{
    font-size: 15px;
    font-family: sans-serif;
    line-height: 24px;
    color: #767676;

}


.midd_frame_bottom-2{
     width: 970px;
    
     height: 606px;

}

.midd_frame_bottom_items{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    
    gap: 2rem;
    margin: 2rem 0;
    
    
}

.midd_frame_bottom_item{
    align-items: center;
    text-align: center;
    width: 297px;
    height: 218px;
    
    background: #ffffff;
   
}
.midd_frame_bottom_item-icon{
    padding-top: 20px;
    
}

.midd_frame_bottom_tittle h1{
    font-family: sans-serif;
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 500;
}

.midd_frame_bottom_descrb p{
    font-family: sans-serif;
    font-size: 15px;
    color: #767676;

}

.midd_frame_bottom_item-1{
    align-items: center;
    text-align: center;
    width: 297px;
    
    height: 218px;
    
    
    background: #ffffff;
}

.midd_frame_bottom_item-1 p{
    padding: 15px  10px 10px 10px;
}

.midd_frame_bottom_item-1 a{
    text-decoration: none;
    color: #ffb400;
    font-family: sans-serif;
    font-size: 14px;
}



.right_frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}

.right_frame_top-icon {
    width: 30px;
    height: 30px;
    margin-top: 30px;
}


.right_frame_bottom-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    
    width: 65px;
    height: 493px;
}
